@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
  user-select: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

html,
body {
  height: 100%;
  width: 100%;
  scrollbar-gutter: stable;
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  /* max-width: 1216px; */
  max-width: 1250px;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  /* --foreground: oklch(0.145 0 0); */
  --foreground: #44475b;
  --foreground-secondary: black;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  /* --primary: oklch(0.205 0 0); */
  --primary: #04ad83;
  /* --primary: #10be41; */

  --primary-foreground: oklch(0.985 0 0);
  /* --secondary: oklch(0.97 0 0); */
  --secondary: #c4f0e5;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --positive: #04ad83;
  --negative: #ed5533;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(18.674% 0.00002 271.152);
  --foreground: oklch(0.985 0 0);
  --foreground-secondary: white;
  --card: oklch(0.205 0 0);
  /* --card: transparent; */
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  /* --primary: oklch(0.922 0 0); */
  --primary: #04ad83;
  /* --primary-foreground: oklch(0.205 0 0); */
  --primary-foreground: white;

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --positive: #04ad83;
  --negative: #ed5533;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@keyframes caret-blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-caret-blink {
  animation: caret-blink 1s steps(1) infinite;
}

@theme inline {
  --text-sm: 0.83rem;
  --text-2xs: 0.7rem;
  --text-md: 0.95rem;

  --radius-sm: calc(var(--radius) - 4px);
  --radiusfont-medium-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-positive: var(--positive);
  --color-negative: var(--negative);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-md: calc(var(--radius) - 2px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .input-wrapper {
    @apply relative transition-transform focus-within:scale-[1.01];
  }
  .validate-input {
    @apply relative mt-1 w-full rounded-md border border-[#ccc] py-1.5 pl-10 outline-none user-valid:border-green-500 user-valid:bg-[#77f5753d] user-invalid:border-red-400 user-invalid:bg-[#ff818140] focus:shadow-[0_0_2px_1px_rgba(0,0,0,0.1)] sm:py-2;
  }
  .error-message {
    @apply absolute mt-0.5 hidden text-xs text-red-500 peer-user-invalid:block sm:text-sm;
  }

  .invest-input {
    @apply !pl-8 shadow-none valid:ring-[3px] valid:!ring-green-500 invalid:not-placeholder-shown:ring-[3px] invalid:not-placeholder-shown:!ring-red-400;
  }

  .invest-input-error {
    @apply absolute mt-1 hidden text-xs font-medium text-red-400 peer-[&:invalid:not(:placeholder-shown)]:block;
  }
}

@media (max-width: 768px) {
  :root {
    --foreground: rgb(5, 5, 5);
    --foreground-secondary: #44475b;
  }

  .dark {
    --foreground: oklch(0.985 0 0);
    --foreground-secondary: oklch(0.985 0 0);
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
